
Brian/x64/
Brian/OpenGL/x64/
Brian/.vs/
*.txt
Brian/OpenGL/OpenGL.vcxproj.user
Brian/OpenGL/x64/Debug/OpenGL.Build.CppClean.log
Brian/OpenGL/OpenGL.vcxproj.user
*.user
Brian/OpenGL/OpenGL.vcxproj.user
Brian/OpenGL/OpenGL.vcxproj.user
Brian/OpenGL/OpenGL.vcxproj.user
Brian/.vs/Brian/v16/ipch/AutoPCH/20b84913d30fb354/APPLICATION.ipch
Usama/x64/Debug
Usama/.vs/
Usama/OpenGL/x64/Debug/
Brian/Dependencies/GLM/glm/out/
.vs/