
Brian/.vs/Brian/v16/ipch/AutoPCH/2327a92ab2250ba4/APPLICATION.ipch
Brian/.vs/Brian/v16/Browse.VC.db-wal
Brian/.vs/Brian/v16/Browse.VC.db
Brian/.vs/Brian/v16/Browse.VC.opendb
Brian/.vs/Brian/v16/Browse.VC.db-shm
.vs/slnx.sqlite
